<!-- ###TEMPLATE_JQINCLUDECORE### begin -->
<script type="text/javascript" src="###PATH2TEMPLATE######JQUERYLIB###"></script>
<!-- ###TEMPLATE_JQINCLUDECORE### end -->



<!-- ###TEMPLATE_TABLELIST### begin -->
<form action="###ACTION###" method="get">
	<table class="table-list  x-grid3">
		<thead>
			<tr class="x-grid3-header">
				<th colspan="2">###HEAD_TABLE###</th>
				<th>###HEAD_INFORMATION###</th>
				<th>###HEAD_EXCLUDE###
					<img height="12" width="12" alt="" title="###TOGGLE_EXCLUDE###"
							id="toggleExclude" src="sysext/t3skin/icons/gfx/clip_select.gif"></th>
			</tr>
		</thead>
		<tbody>
			<!-- ###TEMPLATE_TABLELIST_ITEM### begin -->
			<tr id="###TABLENAME###" class="###TABLECLASS### ###EVENODD###">
				<th>###TABLEINFO###</th>
				<td class="state"><span></span></td>
				<td class="information">###INFORMATION###</td>
				<td class="control">
					<!-- ###TEMPLATE_TABLEEXCLUDE_ITEM### begin -->
					<input name="###TABLENAME###" type="checkbox" value="1" class="table-skip" ###CHECKED### />
					<!-- ###TEMPLATE_TABLEEXCLUDE_ITEM### end -->
				</td>
			</tr>
			<!-- ###TEMPLATE_TABLELIST_ITEM### end -->
		</tbody>
	</table>

	<div style="position:fixed; top:20px; right:20px; width:300px; z-index: 10000;">
		<div class="typo3-message message-information">
			<div class="message-header">###UPDATERMSGHEADER###</div>
			<div class="message-body">
				###UPDATERMSG###<br />
				<input type="checkbox" name="backup" id="backup" checked="checked" />
					<label for="backup">###PROCESS_BACKUP###</label>
				<input id="process-convert" type="button" value="###PROCESS_CONVERT###" style="display: ###DISPLAY_CONVERT###; width: 250px" />
				<input id="process-restore" type="button" value="###PROCESS_RESTORE###" style="display: ###DISPLAY_RESTORE###; width: 250px" />

				<div class="x-progress-wrap left-align" style="width: 248px; height: 19px; display: none;">
					<div class="x-progress-inner">
						<div class="x-progress-bar" style="height: 17px; width: 9px;">
							<div class="x-progress-text" style="z-index: 99; width: 0;">
								<div style="width: 250px; height: 19px;"></div>
							</div>
						</div>
						<div class="x-progress-text x-progress-text-back">
							<div style="width: 250px; height: 19px;"></div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</form>

<!-- ###TEMPLATE_TABLELIST### end -->



<!-- ###TEMPLATE_JQINCLUDECSS### begin -->
<script type="text/javascript">/* <![CDATA[ */
jQuery.noConflict();
(function($) {
	$(document).ready(function() {
			//  include styles
	//	$('head').append('<link rel="stylesheet" type="text\/css" href="..\/typo3conf\/ext\/converter2utf8\/res\/template\/css\/ext_update.css" />');
		$.get('..\/typo3conf\/ext\/converter2utf8\/res\/template\/css\/ext_update.css', function(css) {
			$('head').append('<style type="text\/css">' + css + '<\/style>');
		});

			//  exclude tables manually
		$('input.table-skip').click(function() {
			toggleParentRow(this);
		}).change(function() {
			toggleParentRow(this);
		});
			//  toggle all exclude checkboxes
		$('#toggleExclude').click(function() {
			$('input.table-skip').each(function() {
				if ($(this).is(':checked')) {
					$(this).attr('checked', false);
				} else {
					$(this).attr('checked', true);
				}
				toggleParentRow(this);
			});
		});

			//  setup
		$.ajaxSetup({
			url:  $('form').attr('action'),
			type: 'POST',
		});
		tableProcess   = $('.table-process');
		tableNumbers   = tableProcess.length;
		viewportHeight = $(window).height();
		$(window).resize(function() {
			viewportHeight = $(window).height();
		});


			//  progress bar
		progressWidth = $('.x-progress-wrap').css('width');
		progressWidth = parseInt(progressWidth);

			//  process: convert
		$('#process-convert').click(function() {
			backup = $('#backup').is(':checked');

			$('#process-convert, .x-progress-wrap').toggle();
				//  hide skipped items
			$('.table-skipped').fadeOut(1000);
				//  start process for first table
		//	window.setTimeout(processTable(0), 1000);
			$('html,body').animate({scrollTop: 0}, 500);
			processTable(0);
		});
			//  process: restore
/*
		$('#process-restore').click(function() {
			var href = $('form').attr('action') + '&command=prepare-restore';
			location.href = href;
		});
*/



		/**
		 * exclude table
		 *
		 * @param  obj     current acting jQuery object
		 * @return void
		 * @since 0.1.0
		 */
		function toggleParentRow(obj, isChecked) {
			var isChecked = $(obj).is(':checked');
			var parentRow = $(obj).parents('tr');
			if (isChecked == true) {
				parentRow/*.toggleClass('table-process')*/.addClass('table-excluded');
			} else {
				parentRow/*.toggleClass('table-process')*/.removeClass('table-excluded');
			}
		}



		/**
		 * process table
		 *
		 * @param  int     index of table to process
		 * @return void
		 * @since 0.1.0
		 */
		function processTable(index) {
				//  stop if loop finished
			if (index >= tableNumbers) {
			//	$('#process-restore, .x-progress-wrap').toggle();
				$.ajax({
					data:     {
						'command': 'update-localconf',
					},
					success: function(data, success, xhr) {
						if (data == 'ok') {
							alert('done!');
						} else {
							alert(data);
						}
					},
				});

				return;
			}

				//  process item
			var item       = tableProcess.get(index);
			var itemCheck  = $(item).find('input');
			var tableName  = itemCheck.attr('name');
			var exclude    = itemCheck.is(':checked');
			var offset     = $(item).offset();
			var itemHeight = $(item).height();
				scrollTo   = offset.top - viewportHeight + itemHeight;

				//  scroll active item into viewport
		//	$(item).find('td.information').append('<br /> [' + offset.top + '/' + viewportHeight + '/' + itemHeight + ']');
			$('html,body')/*.delay(1000)*/.animate({scrollTop: scrollTo}, 500);

				//  progress bar update
			progressUpdate(index);

				//  start processing
					//  display item as in process
			$(item).addClass('table-inprocess');
			if (backup == true && exclude == false) {
					//  backup + conversion
				processBackupTable(item, tableName, index, exclude);
			} else {
					//  conversion (without backup)
				processConvertTable(item, tableName, index, exclude);
			}
		}


		/**
		 * process table: backup
		 *
		 * @param  obj     row in tables list
		 * @param  string  table to convert
		 * @param  int     index of table to process
		 * @param  bool    exclude (only used in function call processConvertTable())
		 * @return void
		 * @since 0.1.0
		 */
		function processBackupTable(item, tableName, index, exclude) {
			$.ajax({
				data:     {
					'command': 'backup',
					'table':   tableName,
				},
				success: function(data, success, xhr) {
					if (data == 'ok') {
					//	$(item).find('td.information').html('###BACKUP_DONE###');
						$(item).find('td.information').append('<br \/>###BACKUP_DONE###');
					} else {
						$(item)
							.addClass('table-processed-failed')
							.find('td.information').append('<br \/>' + data);
					}
						//  conversion
					processConvertTable(item, tableName, index, exclude);
				},
			});
		}


		/**
		 * process table: Conversion
		 *
		 * @param  obj     row in tables list
		 * @param  string  table to convert
		 * @param  int     index of table to process
		 * @return void
		 * @since 0.1.0
		 */
		function processConvertTable(item, tableName, index, exclude) {
				//  convert
			$.ajax({
				data: {
					'command': (exclude == false) ? 'convert' : 'exclude',
					'table':   tableName,
				},
				success:  function(data, success, xhr) {
					$(item).removeClass('table-inprocess');
					if (data == 'ok-converted') {
						$(item)
							.addClass('table-processed')
						//	.find('td.information').html('###CONVERT_DONE###');
							.find('td.information').append('<br \/>###CONVERT_DONE###');
					} else if (data == 'ok-excluded') {
						$(item)
							.addClass('table-processed')
						//	.find('td.information').html('###CONVERT_DONE###');
							.find('td.information').append('<br \/>###EXCLUDE_DONE###');
					} else {
						$(item)
							.addClass('table-processed-failed')
							.find('td.information').append('<br \/>' + data);
					}
				},
				complete: function() {
						//  process next item
					index++;
				//	window.setTimeout(processTable(index), 500);
					processTable(index);
				},
			});
		}


			//  update progress bar
		function progressUpdate(index) {
			var progress          = parseFloat(index / tableProcess.length);
			var progressTextWidth = parseInt(progressWidth * progress);
			var progressBarWidth  = progressTextWidth + 9;
			var progressMessage   = '###CONVERTING### ###TABLE### ' + index + ' ###OF### ' + tableProcess.length;
			$('.x-progress-bar .x-progress-text, .x-progress-text-back').html(progressMessage);
			$('.x-progress-bar').animate({
				width: progressBarWidth + 'px'
			}, 300).find('.x-progress-text').animate({
				width: progressTextWidth + 'px'
			}, 300);
		}
	});
})(jQuery);
/* ]]> */</script>
<!-- ###TEMPLATE_JQINCLUDECSS### end -->



<!-- ###TEMPLATE_TYPO3MESSAGE### begin -->
<div style="###STYLE###">
	<div class="typo3-message message-###MESSAGETYPE###">
		<div class="message-header">###MESSAGEHEADER###</div>
		<div class="message-body">###MESSAGEBODY###</div>
	</div>
</div>
<!-- ###TEMPLATE_TYPO3MESSAGE### end -->